<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">

    <title>Bears and Bees</title>
</head>
<body>

<body>
  <div class="bg">
  <div class="aur_cont">
    <span class="aur aur_1"></span>
    <span class="aur aur_2"></span>
    <span class="aur aur_3"></span>
    <span class="aur aur_4"></span>
    <span class="aur aur_5"></span>
    <span class="aur aur_6"></span>
    <span class="aur aur_7"></span>
    <span class="aur aur_8"></span>
    <span class="aur aur_9"></span>
    <span class="aur aur_10"></span>
  </div>
</div>
  <section id='form-section'>
        <h1>Locate Domain Abuse Contacts</h1>
    <form id='form' action="/info" method="get">
            <input id="form-input" type="text" name="domain" placeholder="Enter a domain">
            <button type="submit">Search</button>
    </form>
</section>

</body>


</body>
</html>
